
<template name="umbsocial">
    <!-- Contact -->
    <section>
        <h2 class="major"><span>Get in touch</span></h2>
        <ul class="contact">
            {{#if recursive "facebookLink"}}
                <li><a href="{{recursive "facebookLink"}}" class="facebook">Facebook</a></li>
            {{/if}}
            {{#if recursive "twitterLink"}}
                <li><a href="{{recursive "twitterLink"}}" class="twitter">Twitter</a></li>
            {{/if}}
            {{#if recursive "rssLink"}}
                <li><a href="{{recursive "rssLink"}}" class="rss">RSS</a></li>
            {{/if}}
            {{#if recursive "dribbbleLink"}}
                <li><a href="{{recursive "dribbbleLink"}}" class="dribbble">Dribbble</a></li>
            {{/if}}
            {{#if recursive "linkedinLink"}}
                <li><a href="{{recursive "linkedinLink"}}" class="linkedin">Linked In</a></li>
            {{/if}}
            {{#if recursive "googleLink"}}
                <li><a href="{{recursive "googleLink"}}" class="googleplus">Google+</a></li>
            {{/if}}
        </ul>
    </section>
    <!-- /Contact -->
</template>